<div class="smedia">
  <br><br><br><br>
  <div class="content"  *ngIf="x">
      <a href="#">
          <img src="../../assets/insta.jpeg" width="40px" height="40px" class="float img1">
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>.</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <a href="#">
          <img src="../../assets/twitt.png" width="50px" height="50px" class="float img2">
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>.</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <a href="#">
          <img src="../../assets/wup.png" width="53px" height="53px" class="float img3">
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>.</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
        <a href="#">
          <img src="../../assets/fb.png" width="53px" height="53px" class="float img4">
        </a>
        
  </div>


  <div class="pcicon" *ngIf="!x">
    <a href="#">
        <img src="../../assets/insta.jpeg" width="40px" height="40px" class="float img1">
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>.</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <a href="#">
        <img src="../../assets/twitt.png" width="50px" height="50px" class="float img2">
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>.</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <a href="#">
        <img src="../../assets/wup.png" width="53px" height="53px" class="float img3">
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>.</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
      <a href="#">
        <img src="../../assets/fb.png" width="53px" height="53px" class="float img4">
      </a>
      
  </div>

  <br><br><br><br>

  <footer class="footer">
    <h1>
        <strong class="font">
          e-learning
        </strong>
    </h1>
    <hr>
    <div *ngIf="x">  
    <p><u>Contact information</u>&nbsp;:&nbsp;&nbsp; <a href="mailto:kavinswealthvalley@gmail.com">
        kavinswealthvalley@gmail.com
    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9445290070</p>
    <hr>
    <p> &#169;Copyright <b>&#60;!--Kavin Pragadeesh--&#62;</b></p>
  </div>

  <div *ngIf="!x">  
    <p><u>Contact information</u>:<a href="mailto:kavinswealthvalley@gmail.com">
        kavinswealthvalley@gmail.com
    </a>&nbsp;|&nbsp;9445290070</p>
    <hr>
    <p> &#169;Copyright <b>&#60;!--Kavin Pragadeesh--&#62;</b></p>
  </div>
  </footer>
  
</div>

