<div class="container" *ngIf = "x">
  <h1 class="font">Python</h1>
    <br>
    <h3 class="font">Topic 1</h3>
    <video width="500" height="200" controls>
        <source src="../../assets/finance.mp4" type="video/mp4">
    </video>
    <small>(dummy video)</small>
    <br><br><br>
    <h3 class="font">Topic 2</h3>
    <video width="500" height="200" controls>
        <source src="../../assets/finance.mp4" type="video/mp4">
    </video>
    <small>(dummy video)</small>
</div>

<div class="container" *ngIf = "!x">
    <h1 class="font">Python</h1>
      <br>
      <h3 class="font">Topic 1</h3>
      <video width="250" height="120" controls>
          <source src="../../assets/finance.mp4" type="video/mp4">
      </video>
      <small>(dummy video)</small>
      <br><br><br>
      <h3 class="font">Topic 2</h3>
      <video width="250" height="120" controls>
          <source src="../../assets/finance.mp4" type="video/mp4">
      </video>
      <small>(dummy video)</small>
  </div>