<div class="w3-content w3-section cont" style="max-width:600px">
<div class="ui grid">
  <div class="four wide column">
    <img class="mySlides myfade1" src="../../assets/el1.jpeg" style="width:100%;height:100%">
  </div>
  <div class="four wide column">
    <img class="mySlides myfade3" src="../../assets/el2.jpeg" style="width:100%">
  </div>
  <div class="eight wide column">
    <img class="mySlides myfade1" src="../../assets/el3.jpeg" style="width:100%">
  </div>
  <div class="five wide column">
    <img class="mySlides myfade2" src="../../assets/el4.jpeg" style="width:100%">
  </div>
  <div class="eight wide column">
    <img class="mySlides myfade1" src="../../assets/el5.jpeg" style="width:100%">
  </div>
  <div class="three wide column">
    <img class="mySlides myfade3" src="../../assets/el6.jpeg" style="width:100%">
  </div>
  <div class="six wide column">
    <img class="mySlides myfade3" src="../../assets/el7.jpeg" style="width:100%;height:100%">
  </div>
  <div class="five wide column">
    <img class="mySlides myfade1" src="../../assets/el8.jpeg" style="width:100%">
  </div>
  <div class="five wide column">
    <img class="mySlides myfade2" src="../../assets/el9.jpeg" style="width:100%;height:100%">
  </div>
</div> 

</div>



<div *ngIf = "x">
<div class="cont2">
  <!--img src="../../assets/coinss.jpg" style="width:100%">
  <div class="centre"><h1><font color="Gold">$</font></h1></div-->  
</div>
<div class="text1 centre">
  <p>
    "People expect to be bored by eLearning—let’s show them it doesn’t have to be like that!”"  
  </p>
</div>
  
</div>

<div *ngIf = "x">
<div class="text2 centre">
  <p>    
    "When it comes to the design of effective learning experiences, one provocative question is worth a hundred proclamations."
  </p>
</div>
<div class="cont3">

  <!--img src="../../assets/coinss.jpg" style="width:100%">
  <div class="centre"><h1><font color="Gold">$</font></h1></div-->
  
</div>

</div>

<div class="stick" id="myBtn" *ngIf="x">
  <a href="#" (click)="scroll()">
      <div><strong class="centr">^</strong></div>
  </a>
</div>



