.cont{
    position: absolute;
    width: 100%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centre{
    position: absolute;
    top: 38%;
    left: 50%;
    font-size: 20pt;
    opacity: 0.9;
    transform: translate(-50%, -50%);
}

.myfade1{
    -webkit-animation: mymove 3s infinite; 
    animation: mymove 3s infinite;
}
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    0% {opacity : 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  /* Standard syntax */
  @keyframes mymove {
    0% {opacity : 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

.myfade1{
    -webkit-animation: mymove 3s infinite; 
    animation: mymove 5s infinite;
}
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    0% {opacity : 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
  }
  
  /* Standard syntax */
  @keyframes mymove {
    0% {opacity : 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
  }


.myfade3{
    -webkit-animation: mymove 3s infinite; 
    animation: mymove 6s infinite;
}
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    0% {opacity : 1;}
    50% {opacity: 0.;}
    100% {opacity: 1;}
  }
  
  /* Standard syntax */
  @keyframes mymove {
    0% {opacity : 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }


.cont2{
    position: relative;
    width: 200px;
    height: 200px;
    opacity: .8;
    top: 150px;
    left: 5%;
    transform: translate(-50%, -50%);
    -webkit-animation: down 2s infinite; 
    animation: down 2s infinite;
}


@-webkit-keyframes down {
    0% {transform: rotateY(0);}
    25% {transform : rotateY(45deg)}
    50% {transform : rotateY(-0.2turn)}
    75% {transform : rotateY(3.142rad)}
    100% {transform : rotateY(0)}
}

@keyframes down {
    0% {transform: rotateY(0);}
    25% {transform : rotateY(45deg)}
    50% {transform : rotateY(-0.2turn)}
    75% {transform : rotateY(3.142rad)}
    100% {transform : rotateY(0)}
}

.cont3{
    position: relative;
    width: 200px;
    height: 200px;
    opacity: .8;
    top: 140px;
    left: 80%;
    transform: translate(-50%, -50%);
    -webkit-animation: down 2s infinite; 
    animation: down 2s infinite;
}

.text1{
    position: absolute;
    width: 300px;
    height: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 500px;
    left: 15%;
}

.text2{
    position: absolute;
    width: 300px;
    height: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 280px;
    left: 88%;
}

.stick{

    position: fixed;
    width: 50px;
    height: 50px;
    border: 2.5px ridge rgb(211, 97, 211);
    color: brown;
    background-color: plum;
    border-radius: 40%;
    left: 95%;
    top: 90%;
    z-index: 1;

}


/*@media screen and (max-width: 992px) {

  .stick{

    position: fixed;
    width: 50px;
    height: 50px;
    border: 2.5px ridge rgb(211, 97, 211);
    color: brown;
    background-color: plum;
    border-radius: 40%;
    left: 80%;
    top: 90%;
    z-index: 1;

}
} */ 

.centr{
  position: absolute;
  top: 54%;
  left: 50%;
  opacity: 0.9;
  font-size: 30pt;
  transform: translate(-50%, -50%);
}

  
