

<div class="cont1" *ngIf="x">
  <h1 align="center" class="font">About Us....:)</h1>
  <p class="font">
    <img src="../../assets/el9.png" width="400px" height="250px" class="a">
    "<br><div align="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor.<br><br>"</div></p>

</div>

<div class="contm1" *ngIf="!x">
  <h1 align="center" class="font">About Us....:)</h1>
    <p class="font">
      <img src="../../assets/el9.png" width="290px" height="150px"><br>
      "<br><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor.<br><br>"</div></p>
  
</div>

<div class="cont2" *ngIf="x">

  <p class="font">
    <img src="../../assets/el1.jpeg" width="400px" height="250px" class="b">
    "<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor.<br><br>"</p>

</div>

<div class="contm2" *ngIf="!x">

    <p class="font">
      <img src="../../assets/el9.jpeg" width="290px" height="150px"><br>
      "<br><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor.<br><br>"</div></p>
  
</div>
