<div class="container">
  <h1 align="center" class="font"><b>Courses Offered</b></h1>
  <div class="ui middle aligned animated list">
    <br><br>
      <div class="item">
        <img class="ui avatar image" src="../../assets/design4.jpeg">
        <div class="content">
          <div class="header"><a routerLink="/python">Python</a></div>
          <small>A Full python beginner stack</small>
        </div>
      </div>
      <br>
      <div class="item">
        <img class="ui avatar image" src="../../assets/design4.jpeg">
        <div class="content">
          <div class="header"><a routerLink="/django">Django</a></div>
          <small>A Cross platform developing aid</small>
        </div>
      </div>
      <br>
      <div class="item">
        <img class="ui avatar image" src="../../assets/design4.jpeg">
        <div class="content">
          <div class="header"><a routerLink="/java">Core Java</a></div>
          <small>Drive java to the core of it</small>
        </div>
      </div>
      <br>
      <div class="item">
        <img class="ui avatar image" src="../../assets/design4.jpeg">
        <div class="content">
          <div class="header"><a routerLink="/networks">Neural Networks</a></div>
          <small>Know the nodes and connections world wide</small>
        </div>
      </div>
    <br><br>
  </div>
</div>