.container{
    position : absolute;
    width : 60%;
    top : 70%;
    left : 57%;
    transform: translate(-50%,-50%);
    border-radius : 1%;
}

.font{
    font-family: 'Satisfy', cursive;
  }

  @media screen and (max-width: 992px) {

    .container{
        position : absolute;
        width : 60%;
        top : 70%;
        left : 37%;
        transform: translate(-50%,-50%);
        border-radius : 1%;
    }
  }  
  