<div class="ui equal width grid container">
  <div class="column icon" *ngIf = "x">
    <img src="../../assets/lock.png" width="150px" height="150px">
  </div>
  <div class="divider" *ngIf = "x"></div>
  <div class="column">
      <form class="ui form success error">
          <h1 align="center" class="font" *ngIf = "x">&lt;!--Login--&gt;</h1>
          <h1 align="center" class="font" *ngIf = "!x">Login</h1>
            <br>
            <div class="field">
              <h4 class="font"><label>Email</label></h4>
              <input type="email" placeholder="your mail id...">
            </div>   
            <br *ngIf = "x"><br *ngIf = "x">   
            <div class="field">
              <h4 class="font"><label>Password</label></h4>
              <input type="password" placeholder="password">
            </div>
            <br *ngIf="x"><br *ngIf = "x">
            <div class="field">
              <button class="ui black basic button">SUBMIT</button>
              &nbsp;&nbsp;&nbsp;
              <br *ngIf="!x"><br *ngIf="!x">
              <button class="ui black basic button" routerLink="/signup">SIGNUP</button>
            </div>
            
        </form>
        
  </div>
  
</div>

