.container{
    position: absolute;
    background-image: url("../../assets/design1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border: rgba(167, 147, 225, .4) 2px ridge;
    border-radius: 10px;
    height: 500px;
    width: 1000px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    align-content: center;  
}


@media screen and (max-width: 992px) {

    .container{
        position: absolute;
        background-image: url("../../assets/design1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        border: rgba(167, 147, 225, .4) 2px ridge;
        border-radius: 10px;
        height: 350px;
        width: 1000px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        align-content: center;  
    }
  }  

.font{
    font-family: 'Satisfy', cursive;
}

.divider{
    position: absolute;
    height : 400px;
    border-left : black 2px ridge;
    border-radius : 5%;
    top : 70px;
    right : 550px; 
}

.icon{
    position : absolute;
    top: 63%;
    left: 40%;
    transform: translate(-50%, -50%);
}