<div class="ui equal width grid container">
    <div class="column icon" *ngIf = "x">
      <img class="imag" src="../../assets/mail.jpeg" width="150px" height="150px">
    </div>
    <div class="divider" *ngIf = "x"></div>
    <div class="column">
        <form class="ui form success error">
            <h1 align="center" class="font" *ngIf = "x">&lt;!--Contact--&gt;</h1>
            <h1 align="center" class="font" *ngIf = "!x">Contact</h1>
              <br>
              <div class="field">
                <h4 class="font"><label>Email</label></h4>
                <input type="email" placeholder="your mail id...">
              </div>   
                
              <div class="field">
                <h4 class="font"><label>Subject</label></h4>
                <input type="text" placeholder="your subject">
              </div>
              <div class="field">
                  <h4 class="font"><label>Content</label></h4>
                  <textarea type="text" placeholder="content"></textarea>
              </div>
              <br *ngIf = "x"><br *ngIf = "x">
              <div class="field">
                <button align="center" class="ui black basic button">SEND</button>
                
              </div>
              
          </form>
          
    </div>
    
  </div>
  
  