.container{
    position : absolute;
    width : 70%;
    top : 70%;
    left : 50%;
    transform: translate(-50%,-50%);
    border : 2px rgb(213, 218, 223) ridge;
    border-radius : 1%;
    padding : 3%;
    background-image: linear-gradient(to bottom right,rgba(167, 147, 225, .4), rgba(225, 147, 203, .4)); 
}

.font{
    font-family: 'Satisfy', cursive;
}

.imag{
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
}

.divider{
    position: absolute;
    height : 550px;
    border-left : black 2px ridge;
    border-radius : 5%;
    top : 70px;
    right : 550px; 
}
