.grad {
    background-image: linear-gradient(to bottom right,rgba(167, 147, 225, .4), rgba(225, 147, 203, .4));
    }
  
  .container {
    position: absolute;
    background-color: transparent;
    border: currentColor 2px ridge;
    border-radius: 10px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5px;
    align-content: center; 
  }
  
  .font{
    font-family: 'Satisfy', cursive;
  }
  
  .float:hover{
    position: relative;
    -webkit-animation: float .5s 2; 
    animation: float .5s 2;
  }
  
  @-webkit-keyframes float {
    0%{left: 1px;top: 1px}
    25%{left: -3px;top: -3px}
    50%{left: 2px;top: -3px}
    100%{left: -1px;top: 1px}
  }
  
  @keyframes float {
    0%{left: 1px;top: 1px}
    25%{left: -3px;top: -3px}
    50%{left: 2px;top: -3px}
    100%{left: -1px;top: 1px}
  }
  
  .position{
    position: fixed;
    width: 100%;
    height: 10%;
    z-index: 1;
  }

  .pos{
    position : absolute;
    margin-right : 0px;
    top  : 8%;
    right : 23%;
  }

  .show {display: block;}