<div class="ui pointing menu grad position">
  <div class="item">
    <h2 ><strong>E-LEARNING</strong></h2>
  </div>
  <a class="item" *ngIf = "x" routerLink="body">
    <h4 class="font">Home</h4>
  </a>
  <a class="item font" *ngIf = "x" routerLink="about">
    <h4 class="font">About us</h4>
  </a>
  <a class="item font" *ngIf = "x" routerLink="courses">
    <h4 class="font">Courses</h4>
  </a>
  
  <a class="item font" *ngIf = "x" routerLink="blog">
    <h4 class="font">Blog</h4>
  </a>
  <a class="item font" *ngIf = "x" routerLink="page">
    <h4 class="font">Page</h4>
  </a>
  <a class="item font" *ngIf = "x" routerLink="contact">
    <h4 class="font">Contact</h4>
  </a>
  <a class="item right menu" *ngIf = "!x">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" align="center">
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a class="item" routerLink="/body">Home</a>
        <li><a class="item" routerLink="/about">About</a>
        <li><a class="item" routerLink="/courses">Courses</a>
        <li><a class="item" routerLink="/blog">Blog</a>
        <li><a class="item" routerLink="/page">Page</a>
        <li><a class="item" routerLink="/contact">Contact</a>
      </ul>
    </div>
  </a>
  <a class="item font right menu" *ngIf = "!x">
      <button class="ui basic black button" routerLink="/login">Login</button>
  </a>


  <div class="right menu" *ngIf = "x">
    <div class="item">
      <a href="#">
        <img src="../../assets/utub2.png" width="40px" height="40px" class="float">&nbsp;&nbsp;&nbsp;
      </a>
      <a href="#">
        <img src="../../assets/fb2.png" width="40px" height="40px" class="float">&nbsp;&nbsp;&nbsp;
      </a>
      <a href="#">
        <img src="../../assets/insta2.png" width="40px" height="40px" class="float">&nbsp;&nbsp;&nbsp;
      </a>
      <a href="#">
        <img src="../../assets/twit2.png" width="40px" height="40px" class="float">&nbsp;&nbsp;&nbsp;
      </a>
    </div>

    <div class="item">
      <button class="ui button basic purple" routerLink='/login'>
        <h4 class="font">
            <b>
              Login
            </b>
        </h4>
      </button>
    </div>
  </div>
</div>




