.container{
    position : absolute;
    width : 70%;
    top : 70%;
    left : 50%;
    transform: translate(-50%,-50%);
    border-left : 2px rgb(213, 218, 223) ridge;
    border-right : 2px rgb(213, 218, 223) ridge;
    border-radius : 1%;
    padding : 3%;
    
}

@media screen and (max-width: 992px) {

    .container{
        position : absolute;
        width : 100%;
        top : 85%;
        left : 50%;
        transform: translate(-50%,-50%);
        border-left : 2px rgb(213, 218, 223) ridge;
        border-right : 2px rgb(213, 218, 223) ridge;
        border-radius : 1%;
        padding : 3%;
        
    }
}  

.font{
    font-family: 'Satisfy', cursive;
}

img{
    float : left;
}